<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
    <a href="#" (click)="toggle()"><i class="nb-menu"></i></a>
    
    <nb-actions size="medium">
      <nb-action>
        <nb-user [name]="role"
             title="full-stack developer"
             [nbContextMenu]="items"
             nbContextMenuTag="my-context-menu">
        </nb-user>
      </nb-action>
    </nb-actions>
     
  </nb-layout-header>
  <nb-sidebar>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    
    <!--The content below is only a placeholder and can be replaced.-->   
    <router-outlet></router-outlet>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
