<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div id="first">
        <div class="myform form ">
          <div class="logo mb-3">
            <div class="col-md-12 text-center">
              <h1>Login</h1>
            </div>
          </div>
          <form [formGroup]="loginForm">
            <div class="form-group">
              <label>User Name</label>
              <input type="text" class="form-control" formControlName="userName">
              <div *ngIf="isSubmitted && formControls.userName.errors" class="error">
                <div *ngIf="formControls.userName.errors.required">User name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password">
              <div *ngIf="isSubmitted && formControls.password.errors" class="error">
                <div *ngIf="formControls.password.errors.required">password is required</div>
              </div>
            </div>
            <div class="col-md-12 text-center ">
              <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
                (click)="login(loginForm.value)">Login</button>
            </div>
            <div class="col-md-12 ">
              <div class="login-or">
                <hr class="hr-or">
                <span class="span-or">or</span>
              </div>
            </div>
            <div class="form-group">
              <p class="text-center">Don't have account? <a [routerLink]="['/signup']" id="signup">Sign up here</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>